<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surf's Up Konto - @ViewData["title"]</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    @RenderBody()
</body>

</html>