<div id="booking-confirmation" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    <div id="modal-container">

      <div class="clearfix">
        <button type="button" class="cancelbtn">Close</button>
      </div>
    </div>
</div>